# UCLA Library project git ignores
# See also Drupal-specific ignores in www/.gitignore

# Ignore environment-specific database credentials.
/www/sites/*/*.settings-db.php

# Ignore Drush runtime configs for current environment.
/www/sites/*/drushrc.php

# Ignore robots.txt - we use environment-specific files via symlink
/www/robots.txt

# Ignore hidden swap files from "kate" editor
*.kate-swp
